[submodule "eye-color"]
	path = eye-color
	url = https://github.com/bbhsu/eye-color.git
[submodule "sleep-duration"]
	path = sleep-duration
	url = https://github.com/Kazyra/sleep-duration.git
[submodule "tumor-suppressors"]
	path = tumor-suppressors
	url = https://github.com/KwatME/tumor-suppressors.git
[submodule "hair-color"]
	path = hair-color
	url = https://github.com/bbhsu/hair-color.git
[submodule "muscle-type"]
	path = muscle-type
	url = https://github.com/Kazyra/muscle-type.git
[submodule "hereditary-thrombophilia"]
	path = hereditary-thrombophilia
	url = https://github.com/bbhsu/hereditary-thrombophilia.git
[submodule "alpha-1-antitrypsin-deficiency"]
	path = alpha-1-antitrypsin-deficiency
	url = https://github.com/bbhsu/alpha-1-antitrypsin-deficiency.git
[submodule "parkinsons-disease"]
	path = parkinsons-disease
	url = https://github.com/bbhsu/parkinsons-disease.git
[submodule "late-onset-alzheimers-disease"]
	path = late-onset-alzheimers-disease
	url = https://github.com/bbhsu/late-onset-alzheimers-disease.git
